@tailwind base;
@tailwind components;
@tailwind utilities;

@import "font.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --color-background: #f7ede0;
  --color-primary: #b8621b;
  --color-secondary: #262a56;
  --color-neutral: #000000;
}

body {
  color: var(--color-neutral);
  background: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}

p,
span,
a,
li {
  @apply font-sans;
}

.container {
  margin: auto;
}

section {
  padding: 120px 0;
}

section:first-of-type {
  padding: 0;
}
